@page "/widget"
@using Microsoft.AspNetCore.Components.Web


@inherits SystemBlockWidgetBase

@namespace Plugin_710.DiagramComponents
@rendermode @(new InteractiveServerRenderMode(false))


    <div class="blockwidget" style="@BlockStyle()">
        <div>
            @if(IsRoot())
            {   
                <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Small" Text="Vertical" Click="@DoVertical" />
                <RadzenButton style="padding-left: 10px;" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Small" Text="Horizontal" Click="@DoHorizontal" />
            }
            @* <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Small" Text="Make Root" Click="@GoToRoot" /> 
            @if(HasParent())
            {
                <RadzenButton style="padding-left: 10px;" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Small" Text="Parent" Click="@GoToParent" /> 
            } *@
            @if(HasChildren())
            {
                <RadzenButton style="padding-left: 10px;" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Small" Text="Children" Click="@ToggleChildren" /> 
            }
         </div>

        <div style="margin-left: 20px;">
            @GetTitle()
        </div>

        @foreach (var link in GetHyperlinks())
        {
            <span>@link.tag: (</span>
            <a href="@link.url" target="_blank">@link.name</a>
            <span>)</span> <br />
        }
        <div>@Description</div>
        <div>@SerializedAssembly</div>
        <div>@MakeBuy</div>
        <div>@LruSru</div>
        <div>@Quantity</div>
        <div>@Supplier</div>

        <br />
        @* <GroupNodes Group="Group" /> *@

        @* @foreach (var port in Ports())
        {
            // In case you have any ports to show
            // IMPORTANT: You are always in charge of rendering ports
            <CustomPortRenderer @key="port" Port="port" />
        } *@


    </div>
       



<style>
    .blockwidget {
        width: 300px;
        height: 150px;
        background-color: pink;
        border: 2px dashed black;
    }

    .blockwidget .title {
        position: absolute;
        right: 0;
        padding: 8px;
        text-align: right;
        border-left: 2px dashed black;
        border-bottom: 2px dashed black;
    }

    ::deep .diagram-port {
        position: absolute;
        width: 30px;
        height: 20px;
        background-color: black;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    ::deep .diagram-port.top {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        top: -10px;
    }

    ::deep .diagram-port.bottom {
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        bottom: -30px;
    }
</style>
